<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <!-- Hardware Features -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearningVocabularyApp"
        tools:targetApi="31">

        <!-- Main Activity - Entry Point -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LearningVocabularyApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Project Management Activities -->
        <activity
            android:name=".activity.CreateProjectActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LearningVocabularyApp"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.EditVocabularyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LearningVocabularyApp"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <!-- Quiz Activities -->
        <activity
            android:name=".activity.QuizModeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LearningVocabularyApp"
            android:parentActivityName=".activity.EditVocabularyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.EditVocabularyActivity" />
        </activity>

        <activity
            android:name=".activity.QuizActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LearningVocabularyApp"
            android:parentActivityName=".activity.QuizModeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.QuizModeActivity" />
        </activity>

        <activity
            android:name=".activity.ResultQuizActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LearningVocabularyApp"
            android:parentActivityName=".activity.QuizActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.QuizActivity" />
        </activity>

        <activity
            android:name=".activity.QuizCompleteActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LearningVocabularyApp"
            android:parentActivityName=".activity.QuizActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.QuizActivity" />
        </activity>

    </application>

</manifest>